<% include ../partials/header %>
<!-- <!DOCTYPE html>
<html lang="en">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
           <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">You can call me</span>
                <span class="section-heading-lower"> "...PUINUN..." </span>
              </h2>
              <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                  <p class="mb-0">My name is Nattida Noo-Boon 5930213010<br>Software Engineer  <br> If you cannot do great things, 
                    do small things in a great way.<br>-------------------------------</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section> -->
    <h1 ><%= nickname%></h1>
    <ul>
    <ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %> </li>
    <% }); %>
</ul>
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
           <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">You can call me</span>
                <span class="section-heading-lower"> "...PUINUN..." </span>
              </h2>
              <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                  <p class="mb-0">My name is Nattida Noo-Boon 5930213010<br>Software Engineer  <br> If you cannot do great things, 
                    do small things in a great way.<br>-------------------------------</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
   
</div>
<h3><%= bdate %></h3>

  <% include ../partials/footer %>