<% include ../partials/header %>
<br>

<div class="jumbotron" style="background-color: #B3C3DA;">
        <div class = "cover" align = "center">
    <h1 ><%= nickname%></h1>
        <h2>: Nattida Noo-Boon 5930213010</h2>
        <h1>My Hoppy</h1>
           <% hobbies.forEach(function(hobby) { %>
               <li><%= hobby %> </li>
           <% }); %>
       </ul>
      <p class="mb-0"><>Software Engineer  <br> If you cannot do great things, 
      do small things in a great way.<br>-------------------------------</p>
      <h3><%= bdate %></h3>  
      <hr class="my-2">
    <p>Home</p>
    <p class="lead">
        <a class="btn btn-warning btn-lg" href="/index" role="button">Home</a>
    </p>
</div>
</div>


  <% include ../partials/footer %>
  