<% include ../partials/header %>
<br>

<div class="jumbotron" style="background-color: #B3C3DA;">
    <div class = "cover" align = "center">
    <center><img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.15752-9/44509494_2201692436823547_3778020960624443392_n.jpg?_nc_cat=104&_nc_ht=scontent.fbkk12-2.fna&oh=efdf980b52ed64b4726296a63fb8d741&oe=5C82E5AD"width="300"</center>
    <h1 ><%= nickname%></h1>
          <p class="mb-0">Nattida Noo-Boon <br> 5930213010<br> Major : Software Engineer  <br> If you cannot do great things, 
      do small things in a great way.<br>-------------------------------</p>
      <h1>Birth Date</h1>
      <h3><%= bdate %></h3>  
      <h1>My Hobby</h1>
      <% hobbies.forEach(function(hobby) { %>
          <li><%= hobby %> </li>
      <% }); %>
  </ul>
  
    <p class="lead">
        <a class="btn btn-warning btn-lg" href="/index" role="button">Home</a>
    </p>
</div>
</div>


  <% include ../partials/footer %>
  