<% include ../partials/header %>

    <h1 ><%= nickname%></h1>
    <ul>
    <ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %> </li>
    <% }); %>
</ul>
       <p >Radtanaporn  Choeikan</p>
      
       <p>SomeWhere Between Sad And Tries</p>
      
   
</div>
<h3><%= bdate %></h3>

  <% include ../partials/footer %>