<% include ../partials/header %>
<br>
<div class="jumbotron" style="background-color: #B3C3DA;">
    <div class = "cover" align = "center">
    <h1 class="display-3">Hello :)</h1>
    <p class="lead">PROJECT FULLSTACK</p>
    <hr class="my-2">
    <p>About Me</p>
    <p class="lead">
        <a class="btn btn-warning btn-lg" href="/about" role="button">View</a>
    </p>
</div>
</div>


  <% include ../partials/footer %>