<% include ../partials/header %>
<!-- <br>
<div class="jumbotron">
    <h1 class="display-3">EsJS</h1>
    <p class="lead">Dynamic content</p>
    <hr class="my-2">
    <p>About Me</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">View</a>
    </p>
</div> -->
<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projectworhshop</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <link href="business-casual.min.css" rel="stylesheet">

  </head>

  <body>
      
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"> Dining Guide (Cafes & Restaurants)</span>
      <span class="site-heading-lower">GIN-RAI-DEE</span>
    </h1>
<div class="jumbotron"></div>
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/1.jpeg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Delicious Treats, Good Eats</span>
            <span class="section-heading-lower">Bakery &amp; Food</span>
          </h2>
          
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-lg" href="/about" role="button">View</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  <% include ../partials/footer %>