<% include ../partials/header %>
<br>
<div class="jumbotron">
    <h1 class="display-3">Hello :)</h1>
    <p class="lead">PROJECT FULLSTACK</p>
    <hr class="my-2">
    <p>About Me</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">View</a>
    </p>
</div>
<!-- <!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



  <body>
    
<div class="jumbotron">
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
   <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Delicious Treats, Good Eats</span>
            <span class="section-heading-lower">Bakery &amp; Food</span>
          </h2>
          
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-lg" href="/about" role="button">View</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->

  <% include ../partials/footer %>