<% include ../partials/header %>
<form action="/product/update" method="POST">
<div class="form-group">
  <label for="">ID</label>
  <input type="number" name="id" id="" class="form-control" value= "<%= product.id %>" placeholder="" aria-describedby="helpId">
  <small id="helpId" class="text-muted">Product ID</small>
</div>
<div class="form-group">
    <label for="">TITLE</label>
    <input type="text" name="title" id="" class="form-control"value= "<%= product.title %>" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Product Title</small>
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="number" name="" id="price" class="form-control"value= "<%= product.price %>" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Product Price </small>
  </div>  
  <div class="text-center">
    <button type="submit" class="btn btn-success">SAVE</button>
    <a name="" id="" class="btn btn-secondary" href="/products" role="button">Cancel</a>
    <a name="" id="" class="btn btn-danger" href="#" role="button">Delete</a>

</div>
</form>
  <% include ../partials/footer %>