<% include ../partials/header %>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
            <th><a  class="btn btn-success" href ="/add"> Add New </a></th>

        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){%>
        <tr>
            <td scope="row"><%= product.id %></td>
            <td><%= product.title %></td>
            <td><%= product.price %></td>
            <td><a name="" id="" class="btn btn-info" href="/products/<%= product.id %>" role="button">EDIT</a></td>
                <td><button type="button" class="btn btn-danger" > Delete </button></td>
        </tr>
        <% }); %>
        
    </tbody>
</table>

  <% include ../partials/footer %>