<% include ../partials/header %>

<form action = "/users/update" method = "POST">
    <div class="jumbotron">
        <h1 class="display-4">EDIT USER</h1>
<div class="form-group">
  <label for="">ID</label>
  <input type="number"
    class="form-control" value = "<%= user.user_id %>" name="id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">User ID</small>
</div>
<div class="form-group">
  <label for="">Email</label>
  <input type="text"
    class="form-control" value = "<%= user.email %>" name="email" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">User Email</small>
</div>
<div class="form-group">
  <label for="">Password</label>
  <input type="text"
    class="form-control" value = "<%= user.password %>" name="password" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">User Password</small>
</div>
<div class="form-group">
  <label for="">Time</label>
  <input type="text"
    class="form-control" value="<%= time %>"name="time" id="" aria-describedby="helpId" placeholder="" >
  
</div>

<div class="text-center">
  <button type = "submit" class="btn btn-success">Save</button>
  <a name="" id="" class="btn btn-secondary" href="/products" role="button">Cancel</a>
  
</div>
</div>

</form>

<% include ../partials/footer %>
